.arch-work {
    margin-bottom: 80px;
}

.arch-work p {
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 200;
}

.row  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}