.row {
    display: grid;
    grid-template-columns: 25vw 2fr;
    grid-column-gap: 100px;
    margin-top: 80px;
}

.arrow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: .9rem;
    line-height: 24px;
    color: var(--light-blue);
}

#download-app:hover {
    color: var(--main-blue);
}
